<div class="details">
    <div class="publisher"> Added by {{quote.publisher}}</div>
    <div class="vote">
        <button class="btn btn-secondary" (click)="upvote(quote)">Like</button>
        <span class="mx-3">{{quote.upvotes}}</span>
    </div>
    <div class="vote">
        <button class="btn btn-secondary" (click)="downvote(quote)">unlike</button>          
        <span class="mx-3">{{quote.downvotes}}</span>
    </div>            
    <div class="vote">
        <button class="btn btn-danger" (click)="deleteQuote(quote)">Delete</button>
    </div>
 </div>