<div class="container">
    <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
      <div class="form-group">
        <label for="quote">Quote</label>
        <textarea ngModel class="form-control" name="quote" id="quote" cols="30" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input ngModel type="text" class="form-control" name="author" id="author">
      </div>
      <div class="form-group">
        <label for="publisher">Submitted By</label>
        <input ngModel type="text" class="form-control" name="publisher" id="publisher">
      </div>
      <button class="btn btn-primary">Add qoute</button>
    </form>


    <app-quotes [quotes]="quotes"></app-quotes>
</div>

